[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  REACT_APP_API_URL = "https://YOUR_NETLIFY_BACKEND_URL/.netlify/functions/api"

[context.deploy-preview.environment]
  REACT_APP_API_URL = "https://YOUR_NETLIFY_BACKEND_URL/.netlify/functions/api"